@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", serif;
}

.home {
  max-height: fit-content;
  margin-bottom: 20px;
}

.hero {
  padding-left: 5% !important;
}

.hero p {
  text-align: justify;
}

.hero-2 p {
  text-align: justify;
}

.teks-hero {
  text-align: justify;
}

.nav-link:hover {
  font-weight: 500;
}

.card {
  width: 12rem;
  border-color: #14b8ad;
  border-radius: 10%;
  border-width: 4px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  opacity: 0;
}

.card:hover {
  background-color: #14b8ad;
}

.card a {
  text-decoration: none;
  color: #14b8ad;
  transition: 0.3s ease-in-out;
}

.card a:hover {
  color: white;
}

.custom-icon {
  font-size: 70px;
}

footer {
  color: white;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  margin-top: auto;
}

.navbar-toggler {
  border-color: white;
}

.navbar-toggler-icon {
  filter: invert(1);
}

.subjudul {
  padding-top: 6%;
}

.hero-2 {
  padding-left: 60px;
}

.menu .container {
  margin-bottom: 12%;
}

@media (max-width: 1200px) {
  .row {
    display: flex;
    flex-direction: column-reverse;
  }

  .hero {
    width: 100%;
    padding-left: 3% !important;
    padding-right: 3% !important;
    margin-top: 10%;
  }

  .hero-2 {
    width: 100%;
    padding-left: 3% !important;
    padding-right: 3% !important;
    margin-top: 5%;
  }

  .home {
    margin-bottom: 10%;
  }

  .home .img-logo {
    width: 200px;
  }

  .home .denah-img {
    width: 350px;
  }

  .home .img-jam {
    width: 200px;
  }

  .submenu {
    padding: 0 !important;
  }

  .card {
    width: 10rem;
  }

  .card .teks p {
    font-size: small;
    font-weight: 500;
  }

  .custom-icon {
    font-size: 50px;
  }

  /* .logo {
    margin-right: 20px;
  } */

  .hero h5 {
    font-size: medium;
  }

  .jam {
    font-size: 12px !important;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}
